/* 
* 1. Content area (infobox) and updates
*/

/* Styling for infoboxes */
.infoboxen {
  background-color: var(--color-background-dark); 
  color: var(--color-font); 
  padding: 1rem; 
  margin-bottom: 1rem; 
}

.infobox {
  display: flex;
  flex-flow: column;

  text-align: center;
  background-color: var(--color-background-light);
  color: var(--color-font); /* Added missing semicolon */
  padding: 1rem; 
  margin: 1rem; 

  box-shadow: 4px 8px 8px rgba(0, 0, 0, 0.2); 
  border-radius: 1rem;
}

/* The last element in each infobox: */
.infobox:last-child { /* Removed space before pseudo-class */
  margin-top: auto;
}

@media screen and (min-width: 600px) {
  .infoboxen > .inside {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem;
  }
}

.icon img[src$="svg"] {
  width: 4rem;
  height: auto; 
}

/* Update overview Styles */
.update-overview {
  background-color: var(--grey-very-light, whitesmoke); 
  padding: 1rem; 
  margin-bottom: 1rem; 
}

.update-overview > .updates-container {
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem; 
}

.update-overview > .updates-container > h2 {
  grid-column: 1/-1; 
}

/* Single update element */
.update-tasks, .update-budget, .update-community {
  text-align: center; 
  background-color: var(--grey-light, #eee);
  color: var(--color-base-dark, black);
  background-image: linear-gradient(to right, var(--grey-light, #eee), var(--grey-very-light, whitesmoke)); 
  box-shadow: 0 1px 3px var(--color-shadow); 

  padding: 1rem;
  border-left: 5px solid var(--color-primary, #07b);
  margin: 0; 
  margin-bottom: 1rem;
}

.update-tasks p:first-child, .update-budget p:first-child, .update-community p:first-child { 
  font-size: 1.25rem; 
  font-weight: bold; 
}

/* Style for list items in updates, if necessary */
.update-tasks ul, .update-budget ul, .update-community ul {
  padding-left: 20px; /* Adjustment for list indentation */
}

/* Applies to screens wider than 600px */
@media screen and (min-width: 600px) {
  .update-overview > .updates-container {
      display: grid; 
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 1rem; 
  }

  .update-tasks, .update-budget, .update-community {
      /* Adjustments for wider screens here, if necessary */
  }
}
