/** 
  * 1. Site-Header 
  * 2. Content Area (infobox)
  * 3. Site-Footer 
( nav - se navi-flex.css)
(content (infobox) - se content.css)

  */ 

/* header area */
/* .site-header { padding: 1rem 1rem 0 1rem; }

/* Margin between logo and slogan */
/* logo er tatt bort */
.site-header h1 { margin-bottom: 0; }
.site-header p  { margin-top: 0; } */




/* Line height and margins for the content area <main> */

.site-content { 
    line-height: 1.5; 
    padding: 0 1rem; 
    margin-bottom: 3rem; 
}


/** 
  * 3. Site-Footer 
  */ 

/* Styling for the footer area (similar to site navigation) */

.site-footer {
    background-color: #00a3d2;
    color: white; 

    padding: 0.5rem 1rem; 
    margin: 1rem 0; 
}  

/* "Back to top" link - font slightly smaller and aligned to the right */

.site-footer {
    font-size: smaller;
    text-align: right;
}

/* Links in the footer (similar to site navigation) */

.site-footer a {
    color: white; 
    text-decoration: none;
}
.site-footer a:hover, 
.site-footer a:focus {
    /* border-bottom is more flexible than text-decoration: underline */    
    border-bottom: 1px solid white; 
}
