/*
    

    layout.css  
    wird in style.css per @import eingebunden  

    Stylesheet zur Gestaltung der Layoutbereiche
    1. Klassisches Seitenlayout (begrenzte Breite, zentriert, Sticky Footer vorbereiten) 
    2. Kopfbereich (inklusive Inhalte) 
    3. Inhaltsbereich (Inhalte in eigenem Stylesheet, Sticky Footer mit flex:1) 
    4. Site-Footer (inklusive Inhalte) 

    Die Gestaltung der Site-Navigation steht in einem eigenen Stylesheet. 

   */


/** 
  * 1. Klassisches Seitenlayout (begrenzte Breite, zentriert) 
  */ 

/* Hintergrundfarbe für das Stammelement */ 
html { background-color: var(--grey-very-light, whitesmoke); }

/* Margin between logo and slogan */
/* logo er tatt bort */
.site-header h1 { margin-bottom: 0; }
.site-header p { margin-top: 0; }

/* nav - se navi-flex.css */

/** 
  * 2. Content Area (Infobox - Styles in a separate stylesheet: content.css) 
  */ 

/* Innen- und Außenabstände */
.site-content { 
  line-height: 1.5; 
  padding: 0 1rem; 
  margin-bottom: 2rem; 

  /* Sticky Footer, Schritt 2/2 */
  flex: 1; 
} 
 

/** 
  * 4. Fußbereich (inklusive Inhalte)  
  */ 

/* Grundlegende Gestaltung für den Footer */ 
.site-footer {
<<<<<<< HEAD
  font-size: smaller; 
  background-color: var(--grey-very-dark, #333);
  color: var(--color-base-light, white); 
  text-align: right; 
  padding: 1rem;
}

/* Die Navigation im Fußbereich */   
.footer-nav ul {
  display: flex;
  list-style: none; 

  padding: 0; 
  margin: 0; 
}

.footer-nav li {
  margin-right: 0.5rem;
}

.footer-nav li:first-child {
  padding-right: 0.5rem; 
  border-right: 1px solid var(--grey-light); 
}

.footer-nav li:last-child {
  margin-right: 0; 
  margin-left: auto; 
=======
    background-color: #00a3d2;
    color: white; 

    padding: 0.5rem 1rem; 
    margin: 1rem 0; 
}  

/* "Back to top" link - font slightly smaller and aligned to the right */
.site-footer {
    font-size: smaller;
    text-align: right;
>>>>>>> 5a2cb61 (Added image, icons, and styled with colors)
}

.site-footer a {
  color: var(--color-base-light, white); 
  text-decoration: none; 
}

.site-footer a:hover, 
.site-footer a:focus {
  text-decoration: underline; 
}

.site-footer a:active {
  color: var(--color-accent-active); 
}

/** 
  * Ende layout.css 
  */ 
