/* 
    layout.css  
    Included in style.css via @import  

    Stylesheet for styling layout areas:
    1. Classic page layout (limited width, centered, preparing Sticky Footer)
    2. Header area (including contents)
    3. Content area (contents in a separate stylesheet, Sticky Footer with flex:1)
    4. Site Footer (including contents)

    Site navigation styling is in a separate stylesheet.
*/


/** 
  * 1. Classic page layout (limited width, centered) 
  */

/* Background color for the root element */
html { background-color: var(--grey-very-light, whitesmoke); }

/* Basic styling for body */
body {
  /* Background color and width limitation */ 
  background-color: var(--color-base-light, white); 
  min-width: 320px; 
  max-width: 600px; 

  /* Center horizontally */ 
  margin: 0 auto;   

  /* Sticky Footer, Step 1/2 */
  display: flex;
  flex-flow: column; 
  min-height: 100vh;    
}

/* Optional: For modern browsers, more space even with classic layout */
@supports (display: grid) {  
  body {
    max-width: 1000px; 
  }
} /* End @supports */ 


/** 
  * 2. Header area (including contents)  
  */

/* Inner and outer margins */
.site-header { 
  padding: 1rem 1rem 0 1rem; 
  margin-bottom: 1rem; 
} 

/* Fine-Tuning: Adjust margins around logo and slogan */
.site-header h1 { margin-bottom: 0; }
.site-header p { margin-top: 0; }


/** 
  * 3. Content area (contents in content.css)  
  */

/* Inner and outer margins */
.site-content { 
  line-height: 1.5; 
  padding: 0 1rem; 
  margin-bottom: 2rem; 

  /* Sticky Footer, Step 2/2 */
  flex: 1; 
} 
 

/** 
  * 4. Footer area (including contents)  
  */

/* Basic styling for the footer */ 
.site-footer {
  font-size: smaller; 
  background-color: var(--grey-very-dark, #333);
  color: var(--color-base-light, white); 
  text-align: right; 
  padding: 1rem;
  
}

/* Navigation in the footer */   
.footer-nav ul {
  display: flex;
  list-style: none; 

  padding: 0; 
  margin: 0; 
}

.footer-nav li {
  margin-right: 0.5rem;
}

.footer-nav li:first-child {
  padding-right: 0.5rem; 
  border-right: 1px solid var(--grey-light); 
}

.footer-nav li:last-child {
  margin-right: 0; 
  margin-left: auto; 
}

.site-footer a {
  color: var(--color-base-light, white); 
  text-decoration: none; 
}

.site-footer a:hover, 
.site-footer a:focus {
  text-decoration: underline; 
}

.site-footer a:active {
  color: var(--color-accent-active); 
}

/** 
  * End of layout.css 
  */ 
