/*  ==========================================

/* Layout modern.css */
    

    /* Stylesheet zur Gestaltung der Layoutbereiche
    - mehrere farbige Abschnitte über die gesamte Seitenbreite  
    - body reicht von ganz links bis ganz rechts 
    - die Begrenzung der Breite erfolgt durch div.inside 

    Die Gestaltung der Site-Navigation steht in einem eigenen Stylesheet.  */

   


/* Stammelement und body gestalten - überschreibt Deklarationen aus layout.css */
html { 
    background-color: transparent; 
  }
  
  body { 
    max-width: none; 
    padding: 0; 
    margin: 0; 
  }
  
  /* Layoutbereiche (mit dem div.inside) in der Breite begrenzen und zentrieren */
  .inside {
    max-width: 600px; 
    padding: 0 1rem; 
    margin: 0 auto; 
  }
  
  /* Modernes Layout: Nur für moderne Browser, die display grid versthen -  mehr Platz für mehrspaltige Layouts */
  @supports (display: grid) {
    
    .inside { max-width: 960px; }
  
  } /* Ende @supports */ 
  


/* Die in content.css definierten Abstände korrigieren - zusätzliche Klasse erhöht die Spezifität */ 
.site-content .infoboxen { 
  padding-right: 0; 
  padding-left: 0; 
} 
.site-content .infobox { 
  margin-right: 0; 
  margin-left: 0; 
}

/* Layoutbereiche - horizontale Innenabstände entfernen */
.site-header, 
.site-nav, 
.site-content, 
.site-footer { 
  padding-left: 0; 
  padding-right: 0; 
}


/** 
  * Ende layout-modern.css 
  */ 


  
  
  /** 
    * Ende layout-modern.css 
    */ 