/** 
  * 1. Navigation Area  
  */

  .site-nav { 
     background: 
     #00a3d2; 
    color: white; 
    
    padding: 0 1rem; 
    margin: 1rem 0; 
  }
  
  
  /** 
    * 2. Navigation List  
    */
  
  .site-nav ul {
    /* Activate Flexbox */
    display: flex;   
    
    /* Disable list bullets */
    list-style: none; 
  
    padding: 0; 
    margin: 0; 
  }
  
  .site-nav li {
    /* Make all list items equal width */
    flex: 1; 
  
    /* Add a border line to the left of list items, ... */
    /* border-left: 1px solid white;  */
  }
  /* ... and also to the right of the last item */
  .site-nav li:last-child {
    border-right: 1px solid white;
  }
  
  
  /** 
    * 3. Navigation Links   
    */
  
  .site-nav a {
    /* Make links block-level to take full width */
    display: block;
    
    /* Center text within the block */
    text-align: center; 
    text-decoration: none  !important; 
    color: white; 
  
    /* Increase the clickable area of the links */
    padding: 0.5rem 0.25rem; 
  }
  
  /* Style the current link and various states */
  .site-nav a:hover, 
  .site-nav a:focus {
    background-color: #1e0043;
    color: white; 
  }
  .site-nav a.current {
    background-color: #1e0043;
    color: white; 
    
    /* text-decoration: underline;
    border-bottom:1px solid pink;  */
  } 
  .site-nav a:active {
    background-color: #1e0043;
    color: white; 
  }



  