/* CSS for Transaction Form */
#transactionForm {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

#transactionForm div {
  margin-bottom: 15px;
}

#transactionForm label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}

#transactionForm input[type="text"],
#transactionForm input[type="number"],
#transactionForm input[type="date"],
#transactionForm select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

#transactionForm button[type="submit"] {
  background-color: #00a3d2;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#transactionForm button[type="submit"]:hover {
  background-color: #45a049;
}

#transactionForm .option {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#transactionForm .option span {
  cursor: pointer;
}

#transactionForm .option span:hover {
  text-decoration: underline;
}