/*  ==========================================
   

   

    Stylesheet zur Gestaltung der Interaktion mit dem Benutzer 
    - team 
    - contactForm 
    - Media Query für mehrspaltiges Layout ab 600px 
    
    ======================================= */
    
/** 
  * team 
  */ 

/* Abschnitt gestalten */
.team {
    background:  var(  --color-background-dark, #e9e9e9);
    color: var( --color-font,#120800); 
  
    padding: 1rem;
    border-radius: 0.25rem; 
    margin-bottom: 2rem;
  }
  
  
  
  /** 
  * contactForm 
  */ 
  
  /* Beschriftung der Formularfelder */
  /* ALLE Beschriftungen (auch GDPR) */
  .contactForm label { 
    /* Mauszeiger als "Klickhand", wie bei einem Hyperlink */
    cursor: pointer;
  }
  /* nur Beschriftungen vor den Eingabefeldern */
  .contactForm form > label { 
    /* als Block = auf einer eigenen Zeile */
    display: block; 
  }
  
  /* Abstände zwischen den Zeilen im Formular (Media Query = nur im mobilen Layout */
  @media screen and (max-width: 599.99px) {
    .contactForm  form > input,
    .contactForm  form > textarea,
    .contactForm  form > div { 
      margin-bottom: 1rem; 
    }
  } /* Ende @media */ 
  
  /* Eingabefelder gestalten */ 
  .contactForm input[type="text"], 
  .contactForm input[type="email"], 
  .contactForm textarea {
    /* Vererbung von Schriftart und -größe erzwingen */
    font-size: inherit;
    font-family: inherit;
  
    /* Optional: Benutzereingaben in einer anderen Farbe darstellen */
    /* color: var(--color-primary);  */
  
    /* Alle Eingabefelder gleich breit  */
    min-width: 18rem;
  
    /* etwas Platz zwischen Benutzereingabe und Rahmenlinie  */
    padding: 0.5rem;
    
    /* Rahmenlinien der Eingabefelder */
    border: 1px solid var(--color-grey-border,#898187);
    border-radius: 0.25rem;
  }
  
  /* Eingabefelder mit Hintergrundfarbe, wenn sie ausgefüllt werden */
  .contactForm input[type="text"]:focus, 
  .contactForm input[type="email"]:focus, 
  .contactForm textarea:focus {
    background:  var(  --color-background-dark, #e9e9e9);
    color: var( --color-font,#120800); 
  
  
  outline: none; /* Fjerner outline, men vurdér tilgjengelighetskonsekvensene?? */
  
   
  
  }
  
  /* <textarea> - Breite begrenzen und Mindesthöhe definieren */ 
  .contactForm textarea {
    max-width: 30rem; 
    min-height: 8rem;
  }
  
  /* GDPR - Schrift etwas kleiner */
  .contactForm .GDPR-text { font-size: smaller; }
  
  /* Button zum Absenden der Formulardaten */
  .contactForm button {
    /* Vererbung von Schriftart und -größe erzwingen */
    font-size: inherit; 
    font-family: inherit; 
  
    /* Beschriftung zentrieren */
    text-align: center;
  
    /* Button */
    background: var(--color-nav);     ;
    color: var(--color-font); 
  
    min-width: 18rem; 
    padding: 1rem;
    border: none; 
    border-radius: 0.25rem;
    
    /* Mauszeiger als "Klickhand", wie bei einem Hyperlink */
    cursor: pointer;
  }
  
  /* Button beim Hovern oder bei Aktivierung per Tastatur farblich hervorheben */
  .contactForm button:hover, 
  .contactForm button:focus {
    background: var(--color-nav-darker,#007293);
  }
  .contactForm button:active {
    background: var(--color-grey-border,#818889); 
    
  }
  
    /** 
      * Mehrspaltiges Layout für contactForm und -daten 
      * display: grid  
      * 
      */
  
  @media screen and (min-width: 600px) {
  
    /* team und -formular  */ 
    .home .site-content > .inside {
      display: grid;
      grid-template-columns: 2fr 1fr; 
      column-gap: 3rem; 
      row-gap: 1rem; 
      grid-template-areas: 
      "intro intro"
      "contactForm team"; 
    }
  
    .home .content-intro { grid-area: intro; }
    
    /* team und -formular platzieren (Reihenfolge anders als im HTML) */
    .home .team { grid-area: team; margin-bottom: 0; } 
    .home .contactForm { grid-area: contactForm; } 
  
  
    /* Layout für das contactForm */ 
      .contactForm form {
        display: grid;
        grid-template-columns: 7rem 1fr;
        gap: 1rem; 
        /* Optional: Beschriftung auf der Grundlinie für Text ausrichten */
        /* align-items: baseline; */
      }
  
      .contactForm form > label {
        text-align: right;
      }
  
      .contactForm button {
        grid-column: 1/-1;
      }
  
  
  } /* Ende @media */ 
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  /** 
    * Ende forms.css 
    */