/*  =======================================


 Stylesheet for the design of the site navigation
 * - based on display: flex
 * - Design according to the Mobile First principle:
 *   1. Styling for the mobile navigation
 *   2. Style the menu button with CSS
 *   3. Hide the menu button with CSS
 *   4. Show the navigation list with the menu button
 *   5. A horizontal navigation for wider viewports

    ================================= */


/** 
  *  1. Styling for the mobile navigation 
  */     
    
/* Style the navigation area */
.site-nav { 
  background-color: var(--color-nav,#00a3d2);
  color: white; 

  box-shadow: 0 2px 6px var(--color-shadow);
  margin-bottom: 2rem; 
}

.site-nav .inside {
  padding: 0; 
}

/* Navigation list as a flex container */
.site-nav ul { 
  display: flex;
  flex-flow: column; 
  list-style: none;  
  
  padding: 0; 
  margin: 0; 
}


/* Style the navigation links */

.site-nav a {
  display: block;
  background: var(--color-nav, #00a3d2);
  color: white; 
  text-decoration: none; 
  padding: 0.5rem 1rem; 
}

/* Style hover and focus */
.site-nav a:hover, .site-nav a:focus {
  background: var(--color-nav-darker, #007293); 
  color:white; 
}

/* At the moment of activation */
.site-nav a:active {
  background: var(--color-nav-darker); 
  color:white; 
}

/* Highlight the current menu item */
.current a { 
  background: var(--color-nav-darker); 
  color: white; 
  text-decoration: underline; 
}

/** 
  * 2. Style the menu button with CSS
  */     

/* No JavaScript? Hide the menu button */
.menu-no-js .menubutton { display: none; }

/* Style the menu button */
.js .menubutton {
  display: flex;
  align-items: center;

  cursor: pointer;
  background: inherit;
  color:white; 
  font: inherit; 
  text-align: center; 
  padding: 0.5rem 1rem; 
  border: 0; 
  margin: 0; 
}



/* Hamburger icon */
.js .menubutton::before {
  content: url("../UIComponentLibrary/hamburger.svg"); 
  width: 1rem; 
  height: 1rem; 
  margin: 0.25rem; 
}


/**
  * 3. Hide the menu button with CSS
  */

.js .site-nav ul {
  max-height: 0; 
  overflow: hidden; 
}


/**
 * 4. Show the navigation list with the menu button
 */

/* Show the navigation list with a slight animation */

.js .showmenu + ul {
  max-height: 100rem; 
  overflow: auto; 
  transition: max-height 0.5s ease;
}

/* Change Hamburger to X when menu is shown */
.js .menubutton.showmenu::before {
  content: url("../UIComponentLibrary/menuclose.svg");
}


/**
  * 5. Eine horizontale Navigation für breitere Viewports 
  */

 /* Ensure the menu button is not displayed on wider screens */
 @media screen and (min-width: 600px) {
  
  .menubutton { display: none !important; }

  .site-nav {
    position: sticky;
    top: 0; 
  }

  .site-nav .inside {
    padding: 0 1rem; 
  }

  .site-nav ul { 
    max-height: none !important; 
    flex-flow: row; 
    padding: 0; 
  }

  .site-nav li {
    flex: 1; 
    max-width: 10rem; 
    text-align: center;
    border-left: 1px solid var(--color-grey-border); 
  }
  .site-nav li:last-child {
    border-right: 1px solid var(--color-grey-border);
  }
}

  /**  
    The design of the links is taken over from the mobile navigation.
    */

/** 
  * End of navi-responsiv.css 
  */


