
.upcoming-events {
    margin-top: 50px;
}

.event {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

.event h3 {
    margin-top: 0;
}

.event p {
    margin-bottom: 10px;
}

.participate-btn {
    background-color: #00a3d2;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.participate-btn:hover {
    background-color: #00a3d2;
}